body {
    margin: 0 auto;
    width: 100%;
    background-color: #fbfbfb;
    font-family: 'Baloo 2', cursive;
}

.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Product */

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 6%);
    height: 84px;
    align-items: center;
    background: #ffffff;
    position: relative;
    width: 100%;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-left: 40px;
}

.search input {
    width: 500px;
    border-radius: 30px;
    border: none;
    background: #fbfbfb;
    height: 34px;
    font-size: 14px;
    padding: 0 20px 0 30px;
}

.search {
    font-family: Barlow;
    font-size: 14px;
}

.search button {
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #D3B673;
    color: white;
}

.search button:hover {
    border-radius: 50%;
    border: 1px solid #D3B673;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    color: #D3B673;
}

.sign-in a {
    padding: 6px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    background-color: #c39a3b;
    border: 1px solid #c39a3b;
}

.sign-in a:hover {
    background-color: #fdfbf5;
    color: #c39a3b;
    border: 1px solid #c39a3b;
}

.dropbtn {
    background-color: #D3B673;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown {
    margin-right: 80px;
    border: 1px solid #c39a3b;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* right: 0; */
    min-width: 120px;
    z-index: 1;
    border-radius: 30px;
}

.dropdown-content a {
    color: white;
    padding-left: 12px;
    text-decoration: none;
    display: block;
    background-color: #c39a3b;
    ;
}

.dropdown-content a:hover {
    background-color: #fdfbf5;
    color: #c39a3b;
    border: 1px solid #c39a3b;
}

.dropdown:hover .dropdown-content {
    background-color: #fdfbf5;
    background-color: #c39a3b;
    display: block;
}

.dropdown:hover .dropbtn {
    background: #d8b979;
}

.content {
    display: flex;
    padding-top: 8px;
    max-width: 1320px;
    margin: 0 auto;
}

.content .box-left {
    background-color: white;
}

.box-left {
    width: 300px;
    max-width: 25%;
    margin: 0 16px;
    color: #282828;
    background: #ffffff;
    height: fit-content;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%);
    border-radius: 4px;
}

.box-left ul li {
    padding-left: 15px;
}

.box-left ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #282828;
}

.box-left ul li a:hover {
    color: #e2d6a3;
}

.box-left ul li {
    list-style-type: none;
    line-height: 50px;
    border-bottom: 1px solid rgb(219, 208, 208);
}

.box-left ul {
    padding: 0 16px;
}

.box-left h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 2px 3px 3px 2px rgb(220, 222, 222);
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 10px;
}

.box-right h4 {
    padding: 10px 20px;
    /* font-size: 14px; */
    border-bottom: 1px solid #f1f1f1;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}

.box-right-hen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dele a {
    font-size: 12px;
    color: #282828;
    text-decoration: none;
}

.thantin {
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d8b979;
    color: #ffffff;
    margin: 0 20px;
    cursor: pointer;
}

.thantin a {
    color: #f1f1f1;
    text-decoration: none;
}

.box-right {
    width: 300px;
    max-width: 25%;
    margin: 0 16px;
    color: #282828;
    background: #ffffff;
    height: fit-content;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%);
    border-radius: 4px;
    padding-bottom: 12px;
}

.show_connent h4 {
    margin-top: 30px;
    box-shadow: none;
    border-top: 1px solid #c39a3b;
}

.show_connent table {
    width: 100%;
    margin-top: 30px;
}

.show_connent table tr td {
    text-align: center;
}

.show_connent textarea {
    background: #ffffff;
    border: none;
    box-shadow: none;
    width: 100% !important;
    box-sizing: border-box;
    height: 100%;
    outline: 0;
    transition: height 2s ease;
    font-size: 14px;
    padding: 10px 20px 4px;
    margin-top: 20px;
    margin-left: 10px;
}

.cmt {
    margin-top: 20px;
}

.cmt input[type="submit"] {
    width: 100px;
    line-height: 20px;
    color: beige;
    background-color: #c39a3b;
    border: 1px solid #c39a3b;
    margin-left: 10px;
}

.cmt input[type="submit"]:hover {
    color: #c39a3b;
    background-color: beige;
}

.cmt input[type="text"] {
    background: 0 0;
    border: none;
    border-bottom: 1px solid #c39a3b;
    line-height: 20px;
    font-size: 14px;
    outline: 0 !important;
    box-shadow: none;
    margin-left: 10px;
    width: 80%;
}

.box {
    background-color: white;
    width: 700px;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%);
    border-radius: 4px;
    padding-bottom: 12px;
}

.box h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 2px 3px 3px 2px rgb(220, 222, 222);
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 10px;
}

.product p {
    color: #c39a3b;
    text-align: left;
}

.css {
    margin-top: 10px;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #f8f8f8;
    position: relative;
    cursor: pointer;
    text-align: center;
    grid-gap: 18px;
}

.product-item {
    width: 200px;
    height: 330px;
    border: 1px solid rgb(204, 202, 202);
    box-shadow: 0 2px 4px rgb(116, 115, 115);
    overflow: hidden;
}

.product-item p {
    text-align: center;
}

.my-cart h4 {
    margin-left: 10px;
    font-weight: bold;
}

.my-cart {
    box-shadow: 2px 3px 3px 2px rgb(220, 222, 222);
}

.product-item h4 {
    color: black;
}

.product-item h5 {
    color: black;
    height: 20px;
}

.product a {
    text-decoration: none;
    text-align: center;
}

.tonbao {
    color: beige;
    background-color: red;
    width: 100%;
}

.product-item input {
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: #799DD9;
    color: white;
}

.product-item img {
    width: 80%;
    margin-top: 10px;
}

.product-item-view {
    text-align: center;
}

.show_connent {
    box-shadow: 2px 3px 3px 2px rgb(220, 222, 222);
}

.product-view img {
    width: 70%;
    margin-left: 20px;
}

.product-view h4 {
    text-align: center;
}

.product-item-cart img {
    width: 100%;
    padding: 20px;
    margin: 20px;
}

.option-topping {
    width: 100%;
}

.option-topping tr td {
    width: 800px;
}

.product-item-cart {
    width: 250px;
    height: 300px;
    background-color: white;
    text-align: center;
    margin: 5px;
}

.center {
    margin-left: 260px;
}

.cart-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 12px;
    box-shadow: 2px 3px 3px 2px rgb(220, 222, 222);
    margin-top: 12px;
    padding-left: 12px;
    padding-top: 10px;
}

.cart-items p {
    color: #858784;
}

.cart-item-tt {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

.cart-item {
    width: 180px;
}

.item-delete {
    text-align: center;
    color: black;
    font-size: 26px;
}

.bt-bill button {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #D3B673;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}

.num-cup {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-left: 16px;
}

.num-cup p {
    display: inline-block;
    margin-top: 34px;
}

.num-cup img {
    width: 26px;
    margin: 20px 0;
    margin-left: 8px;
}

.product-row_img img {
    width: 60%;
    margin-top: 10px;
    margin-left: 50px;
}

.pro_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pro_row_row h4 {
    padding: 0;
}

.pro_row_row p {
    margin-left: 20px;
}

.thanhtoan a input {
    padding: 0;
    height: 35px;
    width: auto;
    text-align: center;
    border-radius: 30px;
    border: none;
    background: #e7b45a;
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    border: 1px solid #e7b45a;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
}

.thanhtoan a button {
    padding: 0;
    height: 35px;
    width: 50px;
    text-align: center;
    border-radius: 30px;
    border: none;
    background: #e7b45a;
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    border: 1px solid #e7b45a;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
}

.thanhtoan a button i {
    width: 100%;
}

.thanhtoan a button:hover {
    background-color: white;
    color: #e7b45a;
}

.thanhtoan a input:hover {
    background-color: white;
    color: #e7b45a;
}