body            
{
    margin:0 auto;
    width:1450px;
    background-color : #fbfbfb;
    font-size:14px;
    font-family:Verdana;
}
.container{
  box-sizing: border-box;
  margin: 0; padding: 0;
}

/* Product */
.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 500px;
  width: 1500px;
  height: 80px;
  background-color: white;
  margin-left: -10px; 
  padding-top: 10px;

  
}
.logo img{
  width: 60px;
  height: 60px;
  margin-left: 200px;
  line-height: 60px;
}
.search input{
  padding-left: 30px;
  height: 38px;
  width: 428px;
  margin-left: -300px;
  border-radius: 20px;
  /* border-color: rgb(237, 234, 234); */
  border: none;
  background-color: #F9F8F8;
}
.search{
  line-height: 60px;
}
.sign-in input{
  margin-left: -300px;
  height: 38px;
  width: 124px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #D3B673;
  border:none;
}
.sign-in {
  line-height: 60px;
}
.content{
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-gap: 5px;
  background-color: #fbfbfb;
  margin: 5px 60px;

}
.content .box-left{
  background-color: white;
}
.box-left{
  height: 400px;
  padding: 15px;
  width: 250px;


}
.box-left ul li a{
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.box-left ul li a:hover{
  color:#e2d6a3 ;
}
.box-left ul li{
  list-style-type: none;
  line-height: 50px;
  border-bottom: 1px solid rgb(219, 208, 208);
  
}
.box-left ul{
  padding: 0px;
}
.box-left h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.box-right h5{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;

}
.box-right{
  float: right;
  background-color: white;
  height: 300px;
  padding: 15px;
  width: 250px;
}
.box input{
  background-color: aqua;
  border-color: aqua;
  border-radius: 50px;
  border: 5px;
  color: white;
  font-size: 20px;
  margin: 10px 90px;

  
}
.box input:hover{
  background-color: #e2d6a3;

  
}
.box{
  background-color: white;
  padding: 10px;
  width: 700px;
}

.box h5{
  margin-left: 30px;
}
.product{

  margin: 20px 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;

}
.product a{
  text-decoration: none;
}
.product-item img{
  width: 200px;
  height: 200px;
 
  
}

.product-item-view{
  text-align: center;
}
.product-view{
 
  background-color: white;
  /* text-align: center; */
  margin: 0  auto;
  padding: 20px;
  margin: 0 50px;


}
.product-view img{
 width: 100%;
 margin-left: 20px;
}
.product-view h5{
  text-align: center;
}
.product-item-cart img{
  width: 100%;
  padding: 20px;
  margin: 20px;


}
.option-topping{
  width: 100%;

}
.option-topping tr td{
  width: 800px;


}

.product-item-cart{
  width: 250px;
  height: 300px;
  background-color: white;
  text-align: center;
  margin: 5px; 

}
table{
  margin-left: 100px;
}
.product-item h5{
  text-align: center;
}

.center{
  margin-left: 260px;
}